<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_dualarm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="j1_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j1_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j2_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j2_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j3_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j3_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j4_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j4_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j5_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j5_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j6_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j6_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j1_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j1_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j2_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j2_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j3_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j3_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j4_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j4_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j5_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j5_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j6_Joint_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j6_Joint_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
