<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="RobotArm_Left_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="RobotArm_Left_system" type="system">
            <hardware>
                <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>

                <!-- 這兩個要跟 Action Graph 的 topic 一致 -->
                <param name="joint_commands_topic">/joint_command</param>
                <param name="joint_states_topic">/joint_states</param>
            </hardware>
            
            <joint name="j1_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j1_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j2_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j2_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j3_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j3_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j4_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j4_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j5_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j5_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="j6_Joint_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['j6_Joint_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
