<?xml version="1.0" encoding="UTF-8"?>
<robot name="arm_dualarm">
  <joint name="FixedJoint" type="fixed">
    <origin xyz="0.19 0. 0.430636" rpy="0. 0. -1.5707964"/>
    <parent link="Dual_arm_Robot_Entire"/>
    <child link="chassis_link"/>
  </joint>
  <joint name="FixedJoint_L" type="fixed">
    <origin xyz="0.18693 0.2028 0.9262359" rpy="-1.5707964 -1.5707964 0. "/>
    <parent link="Dual_arm_Robot_Entire"/>
    <child link="base_link_L"/>
  </joint>
  <joint name="FixedJoint_R" type="fixed">
    <origin xyz="0.1869287 -0.2028 0.9267368" rpy="-2.9101152 1.570796 1.8022738"/>
    <parent link="Dual_arm_Robot_Entire"/>
    <child link="base_link_R"/>
  </joint>
  <joint name="j1_Joint_L" type="revolute">
    <origin xyz="0.0000001 0. 0.0485 " rpy="0. -0. -3.1415856"/>
    <parent link="base_link_L"/>
    <child link="j1_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0543262" upper="3.0543262" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j1_Joint_R" type="revolute">
    <origin xyz="-0. 0. 0.0485" rpy="-0.0000001 -0.0000003 0.0000073"/>
    <parent link="base_link_R"/>
    <child link="j1_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0543262" upper="3.0543262" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j2_Joint_L" type="revolute">
    <origin xyz="0.041 0. 0.1685" rpy="-1.5708 -0.0000001 1.5708 "/>
    <parent link="j1_Link_L"/>
    <child link="j2_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.0071286" upper="2.0071286" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j2_Joint_R" type="revolute">
    <origin xyz="0.041 -0. 0.1685" rpy="-1.5708 -0.0000001 1.5708 "/>
    <parent link="j1_Link_R"/>
    <child link="j2_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-2.0071286" upper="2.0071286" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j3_Joint_L" type="revolute">
    <origin xyz="0. -0.223 -0.002" rpy="-0. -0. 3.1415854"/>
    <parent link="j2_Link_L"/>
    <child link="j3_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9198622" upper="1.9198622" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j3_Joint_R" type="revolute">
    <origin xyz="-0. -0.223 -0.002" rpy="-0. -0. 3.1415854"/>
    <parent link="j2_Link_R"/>
    <child link="j3_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.9198622" upper="1.9198622" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j4_Joint_L" type="revolute">
    <origin xyz="-0. 0.1379999 0.043 " rpy="-1.5385476 -1.5707927 3.1093476"/>
    <parent link="j3_Link_L"/>
    <child link="j4_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0543262" upper="3.0543262" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j4_Joint_R" type="revolute">
    <origin xyz="-0. 0.1379999 0.043 " rpy="-1.5314447 -1.5707926 3.1022446"/>
    <parent link="j3_Link_R"/>
    <child link="j4_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-3.0543262" upper="3.0543262" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j5_Joint_L" type="revolute">
    <origin xyz="0.041488 0.0009849 -0.0675 " rpy="1.5708001 0. -1.5470998"/>
    <parent link="j4_Link_L"/>
    <child link="j5_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.8325957" upper="1.8325957" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j5_Joint_R" type="revolute">
    <origin xyz="0.041488 0.0009849 -0.0675 " rpy="1.5708001 -0.0000001 -1.5471 "/>
    <parent link="j4_Link_R"/>
    <child link="j5_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-1.8325957" upper="1.8325957" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j6_Joint_L" type="revolute">
    <origin xyz="0. -0.137 0.043" rpy="1.5704962 1.547107 -0.0003038"/>
    <parent link="j5_Link_L"/>
    <child link="j6_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j6_Joint_R" type="revolute">
    <origin xyz="0. -0.137 0.043" rpy="1.5704962 1.547107 -0.0003038"/>
    <parent link="j5_Link_R"/>
    <child link="j6_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="340282346638528859811704183484516925440." velocity="0.8726646"/>
  </joint>
  <joint name="j6_fingerA_Joint_L" type="prismatic">
    <origin xyz="-0.0191426 0.0002141 0.1466099" rpy="1.5707964 0. 1.5707963"/>
    <parent link="j6_Link_L"/>
    <child link="j6_fingerA_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.011" effort="340282346638528859811704183484516925440." velocity="0.005"/>
  </joint>
  <joint name="j6_fingerA_Joint_R" type="prismatic">
    <origin xyz="-0.0191469 0.0002139 0.1466147" rpy="1.5707964 0. 1.5707963"/>
    <parent link="j6_Link_R"/>
    <child link="j6_fingerA_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.011" effort="340282346638528859811704183484516925440." velocity="0.005"/>
  </joint>
  <joint name="j6_fingerB_Joint_L" type="prismatic">
    <origin xyz="0.0191374 -0.0006859 0.1464498" rpy="1.5707964 0. -1.5707965"/>
    <parent link="j6_Link_L"/>
    <child link="j6_fingerB_Link_L"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.011" effort="340282346638528859811704183484516925440." velocity="0.005"/>
  </joint>
  <joint name="j6_fingerB_Joint_R" type="prismatic">
    <origin xyz="0.0191423 -0.0006837 0.1464498" rpy="1.5707965 0.0000001 -1.5707965"/>
    <parent link="j6_Link_R"/>
    <child link="j6_fingerB_Link_R"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.011" effort="340282346638528859811704183484516925440." velocity="0.005"/>
  </joint>
  <joint name="joint_BL_caster" type="continuous">
    <origin xyz="-0.0169362 0. -0.04975 " rpy="0. 0. 0."/>
    <parent link="BL_Bracket_Link"/>
    <child link="BL_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_BL_swing" type="revolute">
    <origin xyz="-0.1913949 -0.48123 -0.3523094" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="BL_Bracket_Link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="10000000." velocity="1.7453293"/>
  </joint>
  <joint name="joint_BR_caster" type="continuous">
    <origin xyz="-0.01694 0. -0.04975" rpy="0. 0. 0."/>
    <parent link="BR_Bracket_Link"/>
    <child link="BR_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_BR_swing" type="revolute">
    <origin xyz="0.19139 -0.48123 -0.3523094" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="BR_Bracket_Link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="10000000." velocity="1.7453293"/>
  </joint>
  <joint name="joint_Dual_arm_Robot_Entire-Camera" type="fixed">
    <origin xyz="0.2920578 0. 1.140007 " rpy="1.0471976 0. -1.5707964"/>
    <parent link="Dual_arm_Robot_Entire"/>
    <child link="Camera"/>
  </joint>
  <joint name="joint_FL_caster" type="continuous">
    <origin xyz="-0.017 0. -0.04975" rpy="0. 0. 0."/>
    <parent link="FL_Bracket_Link"/>
    <child link="FL_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_FL_swing" type="revolute">
    <origin xyz="-0.1913949 0.1012312 -0.3523094" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="FL_Bracket_Link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="10000000." velocity="1.7453293"/>
  </joint>
  <joint name="joint_FR_caster" type="continuous">
    <origin xyz="-0.017 0. -0.04975" rpy="0. 0. 0."/>
    <parent link="FR_Bracket_Link"/>
    <child link="FR_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_FR_swing" type="revolute">
    <origin xyz="0.19139 0.1012312 -0.3523094" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="FR_Bracket_Link"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="-6.2831853" upper="6.2831853" effort="10000000." velocity="1.7453293"/>
  </joint>
  <joint name="joint_L" type="continuous">
    <origin xyz="-0.22 -0.19 -0.3502465" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="L_Big_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_R" type="continuous">
    <origin xyz="0.22 -0.19 -0.350246" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="R_Big_Wheel_Link"/>
    <axis xyz="0. 1. 0."/>
  </joint>
  <joint name="joint_chassis_link-Imu_Sensor" type="fixed">
    <origin xyz="0. -0.19 -0.030636" rpy="0. 0. 1.5707964"/>
    <parent link="chassis_link"/>
    <child link="Imu_Sensor"/>
  </joint>
  <link name="BL_Bracket_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.2598"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.2887688 -0.192554 -0.0736793" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/BL_Bracket_Link_visuals_009_visuals_009.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="BL_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.08378"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.3057688 -0.192554 -0.0239293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/BL_Wheel_Link_visuals_007_visuals_007.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="BR_Bracket_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.2598"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.2887688 0.187446 -0.0736793" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/BR_Bracket_Link_visuals_005_visuals_005.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="BR_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.08378"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.3057688 0.187446 -0.0239293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/BR_Wheel_Link_visuals_004_visuals_004.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="Camera"/>
  <link name="Dual_arm_Robot_Entire">
    <visual>
      <origin xyz="0.19 0. 0.430636" rpy="0. 0. -1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/body_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.19 0. 0.430636" rpy="0. 0. -1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/body_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="FL_Bracket_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.2598"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0.2912312 -0.192554 -0.0736793" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/FL_Bracket_Link_visuals_002_visuals_002.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="FL_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.08378"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.2742312 -0.192554 -0.0239293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/FL_Wheel_Link_visuals_001_visuals_001.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="FR_Bracket_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.2598"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0.2912312 0.187446 -0.0736793" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/FR_Bracket_Link_visuals_003_visuals_003.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
  </link>
  <link name="FR_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.08378"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.2742312 0.187446 -0.0239293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/FR_Wheel_Link_visuals_006_visuals_006.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="Imu_Sensor"/>
  <link name="L_Big_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.83092"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.0775" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0012313 -0.220554 -0.0734293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/L_Big_Wheel_Link_visuals_011_visuals_011.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.0775" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="R_Big_Wheel_Link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.83092"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.0775" length="0.04"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.0012313 0.215446 -0.0734293" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/R_Big_Wheel_Link_visuals_013_visuals_013.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="1.5707964 0. 0. "/>
      <geometry>
        <cylinder radius="0.0775" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="base_link_L">
    <inertial>
      <origin xyz="0. 0. 0.017894" rpy="0. 0. 0."/>
      <mass value="0.41705"/>
      <inertia ixx="0.0004084" ixy="0." ixz="0." iyy="0.0004084" iyz="0." izz="0.0006961"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/base_link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. -0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/base_link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="base_link_R">
    <inertial>
      <origin xyz="0. 0. 0.017894" rpy="0. 0. 0."/>
      <mass value="0.41705"/>
      <inertia ixx="0.0004084" ixy="0." ixz="0." iyy="0.0004084" iyz="0." izz="0.0006961"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="0.0000001 0.0000003 -3.1415925"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/base_link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="0.0000001 0.0000003 -3.1415925"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/base_link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="chassis_link">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="238.3500061"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. -0.19 -0.2313204" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.705 0.505 0.0706362"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. 0.1574524 -0.3359292" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.01063 0.4991724 0.1345065"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.53745 -0.335926" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.0106286 0.49917 0.13451 "/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.19 -0.0819036" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.705 0.505 0.1727196"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.3586082 -0.335926 " rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.12 0.505 0.13451"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.02139 -0.335926" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.12 0.505 0.13451"/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.19 -0.5 -0.402636" rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/CHASSIS_link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.531 -0.220386" rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/B_Camera_Link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.197 -0.49 -0.184546" rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/B_LEIDA_Link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="-0.00005 0.14495 -0.220336" rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/F_Camera_Link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.1970002 0.104 -0.184546 " rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/F_LEIDA_Link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0. -0.193 -0.149886" rpy="0. 0. 1.5707964"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/tank_Link_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0.19 -0.2313204" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.705 0.505 0.0706362"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. 0.1574524 -0.3359292" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.01063 0.4991724 0.1345065"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. -0.53745 -0.335926" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.0106286 0.49917 0.13451 "/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. -0.19 -0.0819036" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.705 0.505 0.1727196"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. -0.3586082 -0.335926 " rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.12 0.505 0.13451"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0. -0.02139 -0.335926" rpy="0. 0. 1.5707964"/>
      <geometry>
        <box size="0.12 0.505 0.13451"/>
      </geometry>
    </collision>
  </link>
  <link name="j1_Link_L">
    <inertial>
      <origin xyz="0.02283 -0.0000001 0.07922 " rpy="0. 0. 0."/>
      <mass value="1.071"/>
      <inertia ixx="0.0033977" ixy="0." ixz="-0.0011756" iyy="0.0041143" iyz="-0." izz="0.0018011"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="-0. 0. 0.0000001"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j1_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="-0. 0. 0.0000001"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j1_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j1_Link_R">
    <inertial>
      <origin xyz="0.02283 -0.0000001 0.07922 " rpy="0. 0. 0."/>
      <mass value="1.071"/>
      <inertia ixx="0.0033977" ixy="0." ixz="-0.0011756" iyy="0.0041143" iyz="-0." izz="0.0018011"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="0. 0. -0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j1_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="0. 0. -0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j1_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j2_Link_L">
    <inertial>
      <origin xyz="0. -0.1115 0.053099" rpy="0. 0. 0."/>
      <mass value="1.8748"/>
      <inertia ixx="0.017658" ixy="0." ixz="0." iyy="0.002303" iyz="0." izz="0.017242"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j2_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j2_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j2_Link_R">
    <inertial>
      <origin xyz="0. -0.1115 0.053099" rpy="0. 0. 0."/>
      <mass value="1.8748"/>
      <inertia ixx="0.017658" ixy="0." ixz="0." iyy="0.002303" iyz="0." izz="0.017242"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. -0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j2_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j2_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j3_Link_L">
    <inertial>
      <origin xyz="-0.0000001 0.070277 0.015242 " rpy="0. 0. 0."/>
      <mass value="0.76714"/>
      <inertia ixx="0.0023668" ixy="0." ixz="-0." iyy="0.0011702" iyz="-0.000731" izz="0.0018731"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j3_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j3_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j3_Link_R">
    <inertial>
      <origin xyz="-0.0000001 0.070277 0.015242 " rpy="0. 0. 0."/>
      <mass value="0.76714"/>
      <inertia ixx="0.0023668" ixy="0." ixz="-0." iyy="0.0011702" iyz="-0.000731" izz="0.0018731"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j3_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j3_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j4_Link_L">
    <inertial>
      <origin xyz="-0.0037368 -0.0000883 -0.055958 " rpy="0. 0. 0."/>
      <mass value="0.61241"/>
      <inertia ixx="0.0006883" ixy="-0.0000044" ixz="-0.0000265" iyy="0.0008747" iyz="-0.0000006" izz="0.0006657"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="0. -0.0000001 -0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j4_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="0. -0.0000001 -0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j4_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j4_Link_R">
    <inertial>
      <origin xyz="-0.0037368 -0.0000883 -0.055958 " rpy="0. 0. 0."/>
      <mass value="0.61241"/>
      <inertia ixx="0.0006883" ixy="-0.0000044" ixz="-0.0000265" iyy="0.0008747" iyz="-0.0000006" izz="0.0006657"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="-0.0000001 -0.0000001 -0.0000001"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j4_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="-0.0000001 -0.0000001 -0.0000001"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j4_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j5_Link_L">
    <inertial>
      <origin xyz="0. -0.068149 0.018232" rpy="0. 0. 0."/>
      <mass value="0.67991"/>
      <inertia ixx="0.0018403" ixy="0." ixz="0." iyy="0.0009891" iyz="0.0005627" izz="0.0013908"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j5_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j5_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j5_Link_R">
    <inertial>
      <origin xyz="0. -0.068149 0.018232" rpy="0. 0. 0."/>
      <mass value="0.67991"/>
      <inertia ixx="0.0018403" ixy="0." ixz="0." iyy="0.0009891" iyz="0.0005627" izz="0.0013908"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="-0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j5_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="-0. -0. 0."/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j5_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_Link_L">
    <inertial>
      <origin xyz="-0. 0. 0.052089" rpy="0. 0. 0."/>
      <mass value="0.46058"/>
      <inertia ixx="0.0003679" ixy="0.0000088" ixz="0." iyy="0.0003859" iyz="0." izz="0.0002959"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0.3665192"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0.3665192"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_Link_R">
    <inertial>
      <origin xyz="-0. 0. 0.052089" rpy="0. 0. 0."/>
      <mass value="0.46058"/>
      <inertia ixx="0.0003679" ixy="0.0000088" ixz="0." iyy="0.0003859" iyz="0." izz="0.0002959"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0.3665192"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. 0." rpy="-0. -0. 0.3665192"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_fingerA_Link_L">
    <inertial>
      <origin xyz="-0.0087724 0.027938 0. " rpy="0. 0. 0."/>
      <mass value="0.016327"/>
      <inertia ixx="0.0000052" ixy="0.0000014" ixz="0." iyy="0.0000017" iyz="0." izz="0.0000055"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. -0." rpy="-0. -1.5707961 0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerA_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. -0." rpy="-0. -1.5707961 0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerA_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_fingerA_Link_R">
    <inertial>
      <origin xyz="-0.0087724 0.027938 0. " rpy="0. 0. 0."/>
      <mass value="0.016327"/>
      <inertia ixx="0.0000052" ixy="0.0000014" ixz="0." iyy="0.0000017" iyz="0." izz="0.0000055"/>
    </inertial>
    <visual>
      <origin xyz="0. -0. 0." rpy="-0. -1.5707961 0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerA_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. 0." rpy="-0. -1.5707961 0. "/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerA_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_fingerB_Link_L">
    <inertial>
      <origin xyz="-0.0087724 0.027938 0. " rpy="0. 0. 0."/>
      <mass value="0.016327"/>
      <inertia ixx="0.0000052" ixy="0.0000014" ixz="0." iyy="0.0000017" iyz="0." izz="0.0000055"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="-0.1335258 -1.5707961 0.1335258"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerB_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="-0.1335258 -1.5707961 0.1335258"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerB_Link_L_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="j6_fingerB_Link_R">
    <inertial>
      <origin xyz="-0.0087724 0.027938 0. " rpy="0. 0. 0."/>
      <mass value="0.016327"/>
      <inertia ixx="0.0000052" ixy="0.0000014" ixz="0." iyy="0.0000017" iyz="0." izz="0.0000055"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="-0.5888022 -1.5707961 0.5888023"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerB_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="-0.5888022 -1.5707961 0.5888023"/>
      <geometry>
        <mesh filename="package://dualarm_description/meshes/j6_fingerB_Link_R_mesh.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
